{
	"svelteSortOrder": "options-scripts-markup-styles",
	"printWidth": 120,
	"tabWidth": 4,
	"semi": true,
	"bracketSpacing": true,
	"jsxBracketSameLine": true,
	"plugins": ["./node_modules/prettier-plugin-svelte"]
}
